<h1><%= @user.email %></h1>
<div class="row">
  <div class="tabbable tabs-left">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#posts" data-toggle="tab">My Bookmarks</a></li>
      <li><a href="#comments" data-toggle="tab">Liked Bookmarks</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="posts">
        <% @bookmarks.each do |bookmark| %>
          <% if bookmark.user_id == current_user.id %>
          <li> <%= link_to bookmark.url %> submitted <%= time_ago_in_words(bookmark.created_at) %> ago by <%= bookmark.user.email %> </li>
         <% end %>
        <% end %>
      </div>
      <div class="tab-pane" id="comments">
      <% @bookmarks.each do |bookmark| %>
        <% if @user.likes(bookmark) %>
        <li> <%= link_to bookmark.url %>  </li>
        <% end %>
      <% end %> 
      </div>
    </div>
  </div>
</div>

